body {
    background-color:black;
    font-family: Verdana;
}

h1 {
    color: grey;

}

div {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

.text {
    line-height: 2;
}